.Rproj.user
.Rhistory
.RData
.Ruserdata

# NPN data (because they're often big files)
npn-data/*
!npn-data/.gitkeep

# Climate data (because they're often big files)
climate-data/*
!climate-data/.gitkeep
